   -webkit-animation: animate_bg 5s;
    animation: animate_bg 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes animate_bg {
    0%   {background:#D2B4DE;}
    25%  {background:#A569BD;}
    50%  {background:purple;}
    75%  {background:#A569BD;}
    100% {background:#D2B4DE}
}

@-webkit-keyframes animate_bg {
    0%   {background:#D2B4DE;}
    50%  {background:#A569BD;}
    100% {background:purple;}
}
